<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Маргарита Барановська Резюме</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
<img class="title-img-left" src="{{ url_for('static', filename='vecteezy_vibrant-paint-palette-with-brush_55782799.png') }}">
<img class="title-img-right" src="{{ url_for('static', filename='3d-laptop-icon-free-png.webp') }}">
    <div class="title">
        <img src="{{ url_for('static', filename='5463383737397013754.jpg') }}">
        <div>
            <h1>{{name}}</h1>
            <h3>{{position}}</h3>
        </div>
    </div>
<div class="main">
<h2>Контакти</h2>
<ul>
    {% for contact,link in contacts%}
        {%if link%}
            <li><a href={link}>{{contact}}</a></li>
        {%else%}
            <li>{{contact}}</li>
        {%endif%}
    {%endfor%}
</ul>
<h2>Про мене</h2>
<p>{{summary}}<p>
<h2>Скіли</h2>
<table border="1">
    {%for i in range(0,skills|length,4)%}
        <tr>
            {% for j in range(4)%}
                {%if i + j < skills|length%}
                    <td>{{skills[i+j]}}</td>
                {%else%}
                    <td></td>
                {%endif%}
            {%endfor%}
        </tr>
    {%endfor%}
</table>
<h2>Проєкти</h2>
{%for project,link in projects%}
    <a href={{link}}>{{project}}</a>
{%endfor%}
    <h2>Навчання</h2>
    <ul>
        {% for e in education%}
            <li>{{e}}</li>
        {%endfor%}
    </ul>

    <h2>Досягнення</h2>
        {% for achievement in achievements%}
            <p>{{achievement}}</p>
        {%endfor%}

    <h2>Цікаві факти</h2>
        {% for fact in facts%}
            <p>{{fact}}</p>
        {%endfor%}
</div>
</body>
</html>
