body{
    background-image: linear-gradient(37deg, rgb(167,171,244),rgb(25,7,100));
    font-size: 25px;
}
.main{
     width:50%;
     margin:auto;

}
h1,h2,h3{
   font-family: "Lobster", sans-serif;
   font-weight: 400;
   font-style: normal;
}

.title {
    background-color: rgb(167,171,244);
    display: flex;
    padding: 20px ;
    align-items: center;
    justify-content: center;
}

.title img{
    width: 20%;
    height: auto;
    margin-right: 50px;
}

.main{
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.6);
    padding: 50px;
    color: white;
}

.title-img-left, .title-img-right {
    position: absolute;
}

.title-img-right{
    width: 25%;
    height: auto;
    top: 70px;
    left: 73%;
}

.title-img-left{
    width: 17%;
    height: auto;
    top: 150px;
    left: 3%;
    transform: rotate(10deg);
}

